body {
    background: linear-gradient(90deg, #001a2e 0%, #000000 70%);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.nav_bar {
    /*Navigasjons bar */
    width: 1370px;
    height: 100px;
    background-color: #006EB3;
    border-radius: 50px;
    display: flex;
    justify-self: center;
    justify-content: center;
    gap: 400px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.Profil_bilde {
    /*Profil bilde for portefølje, border radius lager bildet til en sirkel*/
    width: 250px;
    height: 250px;
    border-radius: 200px;
    object-fit: cover;
}

.Hero_stil {
    /*Profil bilde og forside tekst*/
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    color: white;
}

.Forside_tekst h1 {
    /*margin-bottom for å ta vekk mellomrommet mellom tekstet til navnet og paragrafen*/
    margin-bottom: 0px;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Forside_tekst p {
    /*margin-top for å ta vekk mellomrommet mellom tekstet til navnet og paragrafen*/
    font-size: 30px;
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Kontakt_knapp {
    display: inline-block;
    background-color: #006EB3;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}